<section class="flex flex-col items-center text-center p-8 bg-white dark:bg-gray-800">
  
  <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
    <div class="flex flex-col items-center">
      <img 
        src="https://media.licdn.com/dms/image/v2/D4D03AQHV1BFd9qe6og/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1728565301766?e=1743033600&v=beta&t=qMu_YtUSQakl2T8wQTcKckgWDqgK4GI7VZs3MuouubI" 
        alt="Imagem de perfil de Marcos Damasceno" 
        class="w-48 h-48 rounded-full border-4 border-green-700 dark:border-green-500 mb-4 transform hover:scale-105 transition-transform duration-300"
      />
      <h1 class="text-green-700 dark:text-green-500 font-bold text-3xl mb-2 animate-fade-in">Marcos Damasceno</h1>
      <span class="text-green-700 dark:text-green-500 font-medium text-xl animate-fade-in">Desenvolvedor FullStack</span>
      <div class="flex space-x-4 mt-4">
        <a (click)="trackLinkClick('Github', 'SocialLinks')" aria-label="Pagina Github" href="https://github.com/marcosluan00" target="_blank" class="text-green-700 dark:text-green-500 hover:text-green-500 dark:hover:text-green-400">
          <i class="fab fa-github text-2xl"></i>
        </a> 
        <a (click)="trackLinkClick('Linkedin', 'SocialLinks')" aria-label="Pagina Linkedin" href="https://www.linkedin.com/in/marcos-damasceno-54b7b0237/" target="_blank" class="text-green-700 dark:text-green-500 hover:text-green-500 dark:hover:text-green-400">
          <i class="fab fa-linkedin text-2xl"></i>
        </a>
      </div>
    </div>
    <div>
      <p class="text-gray-700 dark:text-gray-300 leading-relaxed text-xl text-justify animate-fade-in">
        Desenvolvedor Fullstack com experiência em Angular no frontend e Java (Spring Boot) no backend. Atuação em APIs RESTful, refatoração de sistemas legados, acessibilidade, e testes automatizados para garantir qualidade e desempenho.
      </p>
    </div>
  </div>
</section>

<section class="p-8 bg-gray-50 dark:bg-gray-900">
  <h2 class="text-3xl font-bold text-center mb-8 text-green-700 dark:text-green-500 animate-fade-in">Skills e Habilidades</h2>
  <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 max-w-6xl mx-auto px-4">
    @for(skill of sobreJson.skills; track skill) {
      <li class="relative group bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg shadow-md p-6 hover:shadow-lg transition-all duration-300 animate-fade-in transform hover:scale-105 cursor-pointer">
        <div class="flex items-center gap-4">
          <i [class]="'text-2xl text-green-700 dark:text-green-500 ' + skill.icon + ' group-hover:animate-bounce'" aria-hidden="true"></i>
          <span class="text-lg font-semibold text-gray-800 dark:text-gray-100">{{ skill.nome }}</span>
        </div>
        <span class="absolute top-2 right-2 text-xs font-bold text-gray-700 dark:text-gray-300 bg-gray-100 dark:bg-gray-700 px-2 py-1 rounded">{{ skill.nivel }}</span>
        <p class="mt-4 text-gray-600 dark:text-gray-400">{{ skill.descricao }}</p>
      </li>
    }
  </ul>
</section>

<section class="p-8 bg-white dark:bg-gray-800">
  <h2 class="text-3xl font-bold text-center mb-8 text-green-700 dark:text-green-500 animate-fade-in">Minhas Experiências</h2>
  <div class="max-w-6xl mx-auto space-y-6">
    @for(experiencia of sobreJson.experiencias; track experiencia){
      <div class="bg-gray-50 dark:bg-gray-900 rounded-lg shadow-sm hover:shadow-lg transition-shadow duration-300 p-6 animate-fade-in"
      [attr.aria-label]="experiencia.companhia + ' de ' + experiencia.periodo + ' - ' + experiencia.resumo">
      <h3 class="text-2xl font-bold text-green-700 dark:text-green-500 mb-2">{{ experiencia.companhia }}</h3>
      <p class="text-sm text-gray-500 dark:text-gray-400 mb-4">{{ experiencia.periodo }}</p>
      <p class="text-lg text-gray-700 dark:text-gray-300 mb-4">{{ experiencia.resumo }}</p>
      
      <button (click)="toggleExperience(experiencia); 
      trackLinkClick(experiencia.companhia, experiencia.show ? 'Esconder detalhes' : 'Mostrar detalhes')"
      class="text-green-700 dark:text-green-500 hover:text-green-600 dark:hover:text-green-400">
        {{ experiencia.show ? 'Esconder detalhes' : 'Mostrar detalhes' }}
      </button>
      @if(experiencia.show){
        <ul class="mt-4 space-y-2">
          @for(detalhe of experiencia.detalhes; track detalhe){
            <li class="pl-4 relative before:content-['•'] before:absolute before:-left-4 before:top-0 before:text-green-700 dark:before:text-green-500 text-gray-700 dark:text-gray-300">
              {{ detalhe }}
            </li>
          }
        </ul>
      }
      </div>
    }
  </div>
</section>