<h2 class="text-3xl font-bold my-8 text-center">Projetos</h2>
@for(categoria of projetos.projetos; track categoria) {
    <h3 class="text-2xl font-bold my-8">{{ categoria.categoria }}</h3>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        @for(projeto of categoria.items; track projeto){
            <div class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                <img [src]="projeto.imagem" [alt]="projeto.nome" class="w-full h-48 object-contain rounded-lg mb-4" />
                <h4 class="text-xl font-bold mb-2">{{ projeto.nome }}</h4>
                <p class="mb-4 text-gray-700">{{ projeto.descricao }}</p>
                <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-2">
                    <a [href]="projeto.github" target="_blank" rel="noopener noreferrer" class="bg-green-700 text-white rounded-md px-4 py-2 font-semibold text-center hover:bg-green-800 transition-colors duration-300">
                        Ver no GitHub
                    </a>
                    @if (projeto.demo) {
                        <a [href]="projeto?.demo" target="_blank" rel="noopener noreferrer" class="text-green-700 font-semibold hover:text-green-800 transition-colors duration-300 text-center">
                            Ver a Demo
                        </a>
                    }
                </div>
            </div>
        }
    </div>
}
<div class="flex items-center p-4 my-5 bg-yellow-100 text-yellow-800 rounded-lg">
    <svg class="w-5 h-5 mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12c0-4.97-4.03-9-9-9S3 7.03 3 12s4.03 9 9 9 9-4.03 9-9z" />
    </svg>
    <span>Há poucos projetos pois devido a demanda de trabalho não consigo criar muitos projetos pessoais, mas estou trabalhando nisso</span>
</div>